
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
  color: black;
  background-color: #202020;
}

.icon{
  width: 50px;
}


.btnTeam{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  width: 179px;
  height: 59px;
  border-radius: 5px 20px;
  background: #F43735;
  border: #F43735;
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
}

.links{
  width: 15%;
  min-width: 360px;
  display: flex;
  justify-content: space-between;
}

.nav-link{
  text-decoration: none;
  color: #d1d1d1;
  font-size: 30px;
  font-family: 'Roboto';
  font-style: normal;
}
.nav-link:hover,active{
  color: #F43735;
}

.active{
  color: blue;
}

@media (max-width: 540px){
  .flexGrid .col{
    width: 30%;
  }
}

@media (max-width: 800px){
  .nav{
    flex-direction: column;
    padding-bottom: 10px;
  }
  .logo{
    width: 100%;
  }

  .links{
    display: flex;
    flex-direction: column;
  }
}

